ec2_type          = "t3.micro"
ec2_name          = "ai-ops-assistant"
keypair           = "your-ec2-keypair-name"
aws_owner         = "your-name"
groq_api_key      = "YOUR_GROQ_API_KEY"
duckdns_domain    = "your-duckdns-subdomain"
duckdns_token     = "YOUR_DUCKDNS_TOKEN"
admin_username    = "admin"
admin_password    = "CHANGE_ME_ADMIN_PASSWORD"
user_username     = "user"
user_password     = "CHANGE_ME_USER_PASSWORD"
auth_token_secret = "CHANGE_ME_RANDOM_LONG_SECRET"
